div#board
    h1 Board
    br
    br
    -var suits = Object.keys(board)
    for suit in suits
        -var cardNo = 7;
        if (suit == '♦' || suit == '♥')
            div(id='#{suit}' class="col-sm-2 redSuits suit") #{suit}#{cardNo[1]}
        else
            div(id='#{suit}' class="col-sm-2 suit") #{suit}#{cardNo[1]}


